.header {
  position: relative;
  z-index: 1;
  background-color: #020203;
  margin: auto;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25);
  .header-logo {
    width: 178px;
    height: 61px;
    object-fit: cover;
    margin: 15px 28px;
  }
  .header-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 90px;
    ul {
      font-size: 1.5rem;
      color: #ffffff;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: white;
      }
      li {
        cursor: pointer;
      }
    }
  }
}
